body{
    margin: 0;
}
nav{
   
    width: 15vw;
    background-color: #60bbff;
    color: white;
    height: 100vh;
    position: fixed;
    margin: 0px;
    padding: 0px;

}
nav ul{
    display: flex;
    flex-direction: column;
   list-style: none;
   padding-left: 3vw;
    margin-top: 10vh;

}
nav ul li{
    padding-top: 10vh;
    
}
/* Your existing styles for the navigation bar */
/* Add additional styles for responsiveness below */
@media screen and (max-width: 786px) {
    .navbar-links {
        display: none; /* Hide the navigation links */
    }

    .menu-toggle {
        display: block; /* Show the menu toggle button */
        cursor: pointer;
        color: #60bbff;
    }
    nav{
        background-color: transparent;
    }
}
.menu-toggle{
    padding: 5vw;
}