
/* body{
  background: linear-gradient(225deg,white, #bac5e7);
} */
.baani_23{
  margin-left: 30vh;
}
:root {
  --primary-clr: rgb(148, 148, 231);
}
.heading_23{
    font-size: 55px;
    margin-left: 10vh;
}
.user_div{
    border: 2px solid transparent;
    height: 34vh;
    width: 50%;
    background: linear-gradient(45deg, skyblue, blue);
    border-radius: 5px;
    position: relative;
    top: 3vh;
    left: 6vh;
}
.user_img{
    background-image: url("https://img.freepik.com/premium-photo/epidemiologist-digital-avatar-generative-ai_934475-9071.jpg");
    background-size: cover;
    height: 300px;
    width:300px;
    border-radius: 50%;
    margin-left: 20vw;
    margin-top: -3w;
}
 /* .Calender_23 {
    position: relative;
    height: 65vh;
    width: 30%;
    border: 2px solid transparent;
    border-radius: 3px;
    left: 6vh;
    display: flex;
    background-color: #e2e1dc;  
  }
  .container {
    position: relative;
    left: -5vh;
    top: -2vw;
    width: 95%;
    height:60vh;
    min-height: 60vh;
    color: #fff;
    display: flex;
    border-radius: 10px;
    background-color: burlywood;
} */
/* .calendar {
        position: relative;
        left: -3.5vw;
        top: -3.5vw;
        width: 110%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
        justify-content:space-between;
        color : #878887;
        border-radius: 5px;
        background-color: #fff;
      }
   .calendar::before,
  .calendar::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #d3d4d6d7;
    transform: translateY(-50%); */
  
  
  /* .calendar::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgb(153, 153, 153);
  }
  .calendar .month {
    position: relative ;
    left: 1vw;
    width: 60%;
    top: -2vw;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    text-transform: capitalize;
  }
  .calendar .month .prev,
  .calendar .month .next {
    cursor: pointer;
  }
  .calendar .weekdays {
    position: relative;
    left: -1vw;
    top: -4.5vw;
    display: flex;
    font-weight: 500;
    text-transform: capitalize;
  }
  .weekdays div {
     width: 2%; 
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: center; 
  } 
.days {
    display: flex;
    width: 80%;
     flex-wrap: wrap; 
     position :relative;
     left:-32.5vw;
     top: 5vw;
     margin: 0 
    } */
  .dcont_23{
    height: 640px;
    width: 30%;
    /* border:2px solid black; */
    position: relative;
    left:130vh;
    top: -40vh;
    border-radius: 5px;
    box-shadow:  0px 0px 55px #58ade1;
    /* background-color: #; */
  } 
  .doctor{
    height:13vh;
    width: 88%;
    border: 2px solid transparent;
    align-self: center;
    margin-left: 4vh;
    margin-top: 2.5vh;
    display: flex;
    background-color: white;
    border-radius: 5px;
    
  }
  .name_23{
    position: relative;
    left: 2vh;
    top: 2vh;
    font-size: 18px;
  }
  .special_23{
    position: relative;
    left: 2vh;
    top: 2vh;
    font-size: 14px;

  }
  .topdoc_23{
    margin-top: 2vh;
    margin-left:4vh;
    font-size: 35px;
  }
  .rating_23{
    position: relative;
    top: 4vh;
    left: 2vh;
    font-size: 14px;
  }
  .timeslot_23{
    position: relative;
    left: 15vh;
    top: 1.5vh;
    font-size: 14px;
  }
  .docimg_23{
    background-image: url("https://img.freepik.com/premium-photo/healthcare-medical-concept-young-male-doctor-with-stethoscope-hospital_380164-53003.jpg");
    background-size: cover;
    height: 50px;
    width: 50px;
    position: relative;
    left: 18vh;
    top: 2.5vh;
    scale: 1.3;
    border-radius: 50%;
  }
  .docimg2_23{
    background-image: url("https://img.freepik.com/premium-photo/medical-concept-indian-beautiful-female-doctor-white-coat-with-stethoscope-waist-up-medical-student-woman-hospital-worker-looking-camera-smiling-studio-blue-background_185696-621.jpg?w=1380");
    background-size: cover;
    height: 48px;
    width: 48px;
    position: relative;
    left: 16vh;
    top: 3vh;
    scale: 1.3;
    border-radius: 50%;
  }
  .docimg3_23{
    background-image: url("https://img.freepik.com/premium-photo/woman-white-lab-coat-with-stethoscope-her-neck-stands-with-her-arms-crossed_870833-22.jpg?w=2000");
    background-size: cover;
    height: 50px;
    width: 50px;
    position: relative;
    left: 18vh;
    top: 2.8vh;
    scale: 1.3;
    border-radius: 50%;
  }
  .docimg4_23{
    background-image: url("https://img.freepik.com/premium-photo/portrait-doctor-uniform_677403-163.jpg");
    background-size: cover;
    height: 50px;
    width: 50px;
    position: relative;
    left: 18vh;
    top: 2.8vh;
    scale: 1.3;
    border-radius: 50%;
  }
  .docimg5_23{
    background-image: url("https://th.bing.com/th/id/OIP.wBv-jh8R3-Ohr1gM-ju8iQHaHa?w=1600&h=1600&rs=1&pid=ImgDetMain");
    background-size: cover;
    height: 50px;
    width: 50px;
    position: relative;
    left: 19vh;
    top: 2.8vh;
    scale: 1.3;
    border-radius: 50%;

  }
  .doc2_23:hover{
    background-color: #d7ebf5;
  }
  .doc1_23:hover{
    background-color: #d7ebf5;
  }
  .doc3_23:hover{
    background-color: #d7ebf5;
  }
  .doc4_23:hover{
    background-color: #d7ebf5;
  }
  .doc5_23:hover{
    background-color: #d7ebf5;
  }
  .see_23{
    font-size:20px;
    /* font-weight: bold; */
    position: relative;
    left:45vh;
    top: 2vh;
    text-decoration: none;
    color: black;
  }